REDIS_PASSWORD=PLEASE_CHANGE_THIS_PASSWORD  # Redis 비밀번호 (필수 설정)
REDIS_APPENDONLY=no
REDIS_CLUSTER_NODE_TIMEOUT=5000

NODE_1_IP=192.168.0.101
NODE_2_IP=192.168.0.102 
NODE_3_IP=192.168.0.103

# Master 포트
MASTER_1_PORT=6379
MASTER_1_BUS_PORT=16379
MASTER_2_PORT=6379
MASTER_2_BUS_PORT=16379
MASTER_3_PORT=6379
MASTER_3_BUS_PORT=16379

# Slave  포트 (Master와 달라야 함)
SLAVE_2_PORT=6380
SLAVE_2_BUS_PORT=16380
SLAVE_3_PORT=6380
SLAVE_3_BUS_PORT=16380
SLAVE_1_PORT=6380
SLAVE_1_BUS_PORT=16380
