# 환경 설정 파일
.env
.env.*
!*.example.*

# Docker
backend/build/
backend/out/
backend/.gradle/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/
backend/target/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# 모니터링
prometheus/data/

# MySQL
mysql/data/
mysql/raw_data/
mysql/init/cleaned_news_data.tsv
# Logs
*.log
logs/

# OS/Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# 기타
*.iml
.fuse_hidden*